/* ==========================================================================
   STYLE ELEMENTS & RESET
   ========================================================================== */
/* Fonts
   ========================================================================== */


/* Color variables
   ========================================================================== */
:root {
    /* HSL values */
    --bg: 40, 58%, 88%;
    --bg-secondary: 40, 48%, 80%;
    --primary: 0, 0%, 12%;
    /* text */
    --secondary: 41, 18%, 36%;
    /* interactive */
    --shadow: 40, 58%, 12%;
    /* Progress bar */
    --scrollPercent: 0;
}

/* Reset
   ========================================================================== */
* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, a, p, span, em, small, strong, sub, sup, mark, del, ins, strike, abbr, dfn, blockquote, q, cite, code, pre, ol, ul, li, dl, dt, dd, div, section, article, main, aside, nav, header, hgroup, footer, img, figure, figcaption, address, time, audio, video, canvas, iframe, details, summary, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, video {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none;
}

/* ==========================================================================
   GENERAL
   ========================================================================== */
html {
    background-color: hsl(var(--bg));
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    /* Positioning */
    min-height: 100vh;
    /* Display & box model */
    overflow-x: hidden;
    margin: 0 auto;
    /* Color */
    background: hsl(var(--bg));
    color: hsl(var(--primary));
    /* Text */
    font-family: "Tofino", ui-sans-serif, system-ui;
    font-size: 1.8rem;
    /* 1.8rem = 18px */
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .01em;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: from-font;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    hanging-punctuation: first;
    /* -webkit-font-smoothing: antialiased; */
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

::selection {
    background-color: hsl(var(--bg-secondary));
    color: hsl(var(--primary));
}

/*  Text stylese
    ========================================================================== */
/**
 * Typographic scale: 1.333
 *
 * REM Units
 * ---------------
 * 1.350
 * 1.8 -> baseline
 * 2.399
 * 3.198
 * 4.263
 * 5.683
 * 7.576
 * 10.098
 * 13.461
 * 17.944
 * 23.919
**/
em {
    font-style: italic;
}

b {
    color: hsl(var(--primary)) !important;
    font-weight: 600;
}

p.lede {
    font-size: 2.4rem;
    line-height: 1.4;
    letter-spacing: 0;
}

figcaption {
    margin-top: 1.8rem;
    font-family: "Tofino Text";
    font-size: 1.350rem;
}

p.caption {
    margin: 2.4rem auto !important;
    padding: 0 2.4rem;
    text-align: center;
    font-family: "Tofino Text";
    font-size: 1.350rem;
    line-height: 1.4;
}

h1.large-title {
    margin-top: 0.8em;
    font-size: 7.6rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.02em;
    font-variant-ligatures: discretionary-ligatures;
}

h1 {
    margin-top: 0.6em;
    font-size: 5.7rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    font-variant-ligatures: discretionary-ligatures;
}

h2 {
    margin-top: 0.4em;
    font-size: 4.3rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.2;
}

h3 {
    margin-top: 0.4em;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
}

h4 {
    margin-top: 0.4em;
    font-size: 2.4rem;
    line-height: 1.45;
    font-weight: 600;
}

h5 {
    margin-top: 0.4em;
    font-size: 1.8rem;
    line-height: 1.45;
    font-weight: 600;
    text-transform: uppercase;
}

h6 {
    margin-top: 0.4em;
    font-size: 1.350rem;
    line-height: 1.45;
    font-weight: 600;
    text-transform: uppercase;
}

ul, ol {
    margin-left: 1.2em;
}

ul li {
    list-style-type: "â§  "
}

ul li:not(:first-child), ol li:not(:first-child) {
    margin-top: 1.35rem;
}

/* .key-points {
	font-size: 2.4rem;
	line-height: 1.3;
	margin: 1.8rem 0;
}

ul.key-points {
	margin-left: 1.2em;
} */
blockquote {
    margin: 1em 2em 1em 0.25em;
    padding-left: 1em;
    border-left: 1px solid hsl(var(--secondary));
    color: hsl(var(--secondary));
}

blockquote ul {
    margin-left: 0;
}

blockquote ul li {
    list-style-type: none;
}

hr {
    /* margin: 5.7rem 0 2.4rem 0; */
    width: 100%;
    height: 1px;
    border: none;
    background-color: hsl(var(--secondary));
}

/*  Links
    ========================================================================== */
a {
    color: hsl(var(--secondary));
    text-decoration: underline;
    text-decoration-color: hsl(var(--secondary));
    text-underline-offset: 0.16em;
    cursor: pointer;
    transition: 0.2s;
}

@media (hover: hover) {
    a:hover {
        color: hsl(var(--primary));
        text-decoration-color: hsla(var(--secondary), 100%);
        animation: ul-breathe 5.2s ease-in-out;
        animation-iteration-count: infinite;
    }

    @keyframes ul-breathe {
        0% {
            text-decoration-color: hsla(var(--secondary), 100%);
        }

        10% {
            text-decoration-color: hsla(var(--secondary), 100%);
        }

        60% {
            text-decoration-color: hsla(var(--secondary), 10%);
        }

        100% {
            text-decoration-color: hsla(var(--secondary), 100%);
        }
    }

    p a:hover, sup a:hover, a.back-link:hover, a.fn-back-link:hover {
        background-color: hsl(var(--bg-secondary));
        border-radius: 4px;
    }
}

a.disabled:hover {
    cursor: wait;
}

a.anchor-link {
    opacity: 0;
    color: hsl(var(--secondary));
    font-family: "Tofino Text";
    font-size: 0.8em;
    font-weight: 400;
    /* vertical-align: 10%; */
    text-decoration: none;
    transition: 0.2s;
}

h2:hover a.anchor-link {
    opacity: 1;
}

.cta-container {
    position: relative;
    z-index: 1;
    margin-bottom: 1.8rem;
}

a.cta-button, a.cta-button-small {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    border-radius: 100px;
    color: hsl(var(--primary));
    background: hsl(var(--bg-secondary));
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.45;
    text-decoration: none;
}

a.cta-button {
    width: fit-content;
    padding: 1rem 3rem;
    box-shadow: inset 0px 1px 2px hsla(var(--primary), 0.4), inset 0px -1px 2px hsla(var(--secondary), 0.4), inset -4px 1px 6px hsla(var(--secondary), 0.4), inset 4px 1px 6px hsla(var(--secondary), 0.4), inset 0px -1px 4px hsla(0, 0%, 100%, 80%), inset 0px 16px 16px hsla(var(--secondary), 0.25);
}

a.cta-button-small {
    width: 20rem;
    padding: 0.5rem;
    box-shadow: inset 0px 1px 2px hsla(var(--primary), 0.4), inset 0px -1px 2px hsla(var(--secondary), 0.4), inset -2px 1px 3px hsla(var(--secondary), 0.4), inset 2px 1px 3px hsla(var(--secondary), 0.4), inset 0px -1px 4px hsla(0, 0%, 100%, 80%), inset 0px 12px 12px hsla(var(--secondary), 0.25);
}

/* Shadow */
.cta-button::before, .cta-button-small::before {
    content: "";
    position: absolute;
    bottom: -0.8rem;
    z-index: -1;
    width: 84%;
    height: 80%;
    border-radius: 100px;
    background: hsla(var(--shadow), 20%);
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

/* Glow */
.cta-button::after, .cta-button-small::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 8%;
    width: 84%;
    height: 40%;
    border-radius: 100px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 100%) 0%, hsla(0, 0%, 100%, 0%) 100%);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
}

.cta-button-small::after {
    left: 7%;
    width: 86% !important;
    height: 40% !important;
}

a.cta-button:hover, a.cta-button-small:hover {
    background: hsl(var(--bg));
}

a.back-link {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    width: fit-content;
}

a.back-link svg {
    width: 2.4rem;
    height: 2.4rem;
}

a.back-link svg path {
    fill: hsl(var(--secondary));
}

a.back-link p {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
}

a.social-icon {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 0.9rem;
    text-decoration: none;
}

a.social-icon:hover {
    background-color: hsl(var(--bg));
}

.social-icon svg {
    width: 3.6rem;
    height: auto;
}

.icon-button svg {
    width: 3.6rem;
    height: auto;
}

.social-icon svg path, .icon-button svg path {
    fill: hsl(var(--secondary));
    transition: 0.2s;
}

@media (hover: hover) {
    .social-icon:hover svg path, .icon-button:hover svg path {
        fill: hsl(var(--primary));
    }
}

/*  Images & embeds
    ========================================================================== */
img, iframe {
    position: relative;
    border-radius: 16px;
    box-shadow: 0 12px 50px 10px hsla(var(--shadow), 10%), 0 42px 20px -30px hsla(var(--shadow), 40%);
}

img.unstyled {
    margin: 0 !important;
    border-radius: 0;
    box-shadow: none;
}

.img-container {
    position: relative;
    z-index: 0;
    width: fit-content;
    margin-top: 3.2rem;
    /* filter: contrast(115%); */
}

/* Glow */
.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: radial-gradient(ellipse at top, hsla(0, 0%, 100%, 18%) 0%, hsla(0, 0%, 100%, 12%) 20%, hsla(0, 0%, 100%, 0%) 50%);
    mix-blend-mode: luminosity;
}

img.avatar {
    height: 1.3em;
    object-fit: cover;
    margin-bottom: 2.4rem;
    border-radius: 50%;
    box-shadow: 0 12px 18px 4px hsla(var(--shadow), 10%), 0 24px 16px -14px hsla(var(--shadow), 40%);
}

a.open-img-link {
    padding: 0.1rem;
    font-size: 1.8rem;
    text-decoration: none;
}

iframe.figma-embed {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 3.2rem !important;
}

/*  ==========================================================================
	SITEWIDE
	========================================================================== */
/*  Header
	========================================================================== */
header, header.nav-collapsed {
    position: fixed;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 1.2rem 2.4rem 1rem;
    border-bottom: 0.5px solid hsla(var(--shadow), 0%);
    background-color: transparent;
    box-shadow: 0px 1px 8px hsla(var(--shadow), 0%);
    /* Scroll down animation */
    transition: all 0.25s ease-out;
}

header.scrolled {
    border-bottom: 0.5px solid hsla(var(--shadow), 20%);
    background-image: linear-gradient(to bottom, hsla(var(--bg), 60%), hsla(var(--bg-secondary), 60%));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 1px 8px hsla(var(--shadow), 10%);
}

@media (prefers-reduced-motion: reduce) {
    header.scroll-down {
        opacity: 0;
        transform: none;
        transition: 0.5s ease;
    }
}

.skip-to-content-link {
    position: absolute;
    clip-path: inset(0px 0px);
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.skip-to-content-link:focus {
    clip-path: none;
    left: 10.483rem;
    width: auto;
    height: auto;
    border-radius: 8px;
    padding: 0.5em 0.8em;
    color: hsl(var(--primary));
    background-color: hsl(var(--bg-secondary));
}

#nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
}

a#logo, #nav-toggle a {
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

#logo svg, #nav-toggle svg {
    width: 5.7rem;
    height: auto;
    transition: all 0.4s cubic-bezier(.66, -0.15, .28, 1.3);
}

.scrolled#logo svg, .scrolled#nav-toggle svg {
    width: 3.2rem;
    height: auto;
}

#logo svg path, #nav-toggle svg rect {
    fill: hsl(var(--primary));
}

#nav-toggle {
    display: none;
}

.hidden {
    display: none;
}

/* Default values */
#mainNav {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    text-align: right;
}

/* Default values */
#mainNav a {
    width: fit-content;
    margin-left: 2.8rem;
    border-bottom: none;
    color: hsl(var(--primary));
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    /* letter-spacing: -0.02em; */
    text-decoration: none;
    text-transform: lowercase;
    font-variant-ligatures: discretionary-ligatures;
}

.active-page {
    border-bottom: 2px solid hsl(var(--secondary)) !important;
}

/* Collapsed/hidden values */
#mainNav.nav-hidden a {
    opacity: 0;
    animation: float-out 0.25s ease-in;
}

@keyframes float-out {
    0% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
        -webkit-filter: blur(0);
    }

    50% {
        opacity: 0;
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    100% {
        opacity: 0;
        transform: translateY(-10rem);
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
}

@media (prefers-reduced-motion: reduce) {
    #mainNav.nav-hidden a {
        animation: none;
        transition: opacity .25s ease-in;
    }
}

/* Expanded/visible values */
#mainNav.nav-visible a {
    opacity: 1;
    animation: float-in 0.5s cubic-bezier(0.75, 0, 0.25, 1.25);
}

@keyframes float-in {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    25% {
        opacity: 0;
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

@media (prefers-reduced-motion: reduce) {
    #mainNav a, #mainNav.nav-visible a {
        animation: none;
        transition: opacity 0.5s ease-in;
    }
}

/*  Layout
	========================================================================== */
main {
    /* 100vh - (footerTopMargin + footerHeight+BottomMargin + mainBottomMargin) */
    min-height: calc(100vh - (5.7rem + 4.4rem + 2.4rem));
    padding-bottom: 2.4rem;
    animation: fade-in 1s;
    -webkit-animation: page-fade-in 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce) {
    main {
        animation: none;
    }
}

@keyframes page-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

main :first-child {
    margin-top: 0;
}

.fluid > * + *:not(.img-container, .literal-widget) {
    margin-top: 1.6rem;
}

.fluid > h2 + *:not(.img-container) {
    margin-top: 0.6em;
}

.fluid > h3 + *:not(.img-container), .fluid > h4 + *:not(.img-container) {
    margin-top: 0.4em;
}

.fluid > h5 + *:not(.img-container) {
    margin-top: 0.3em;
}

.fluid > h6 + *:not(.img-container) {
    margin-top: 0.2em;
}

.below-header {
    /* header(5.7rem + 2.4rem) + 5.7rem */
    padding-top: 13.766rem;
}

.full-height {
    min-height: 100vh;
}

.full-height img {
    max-width: 100%;
    max-height: calc(100vh - (5.7rem + 2.4rem));
}

.align-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text, .container-wide, .container-full-width {
    margin: 0 auto;
}

.container-text {
    width: 56rem;
    max-width: 100%;
}

.container-wide {
    width: 88.8rem;
    max-width: calc(100vw - 4.8rem);
}

.container-full-width {
    width: calc(100vw - 4.8rem);
    max-width: 1440px;
}

.container-full-width .img-container {
    margin-bottom: 3.2rem;
}

.row, .row-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.8rem;
    width: 100%;
}

.row {
    align-items: baseline;
}

.row.glitch {
    position: absolute;
    top: 13rem;
    left: 2.4rem;
    width: 120vw;
    height: calc(100vh - 13rem);
    overflow: hidden;
}

.row-image {
    align-items: top;
}

.col-one-third {
    width: 28rem;
}

.col-two-thirds {
    width: 56rem;
}

.col-one-half {
    width: 42rem;
}

.col-rgt-align {
    display: flex;
    justify-content: end;
    text-align: right;
}

.pt-x-small {
    padding-top: 1.350rem;
}

.pt-med {
    padding-top: 4.3rem;
}

.pt-large {
    padding-top: 5.7rem;
}

.pt-x-large {
    padding-top: 7.6rem;
}

.pt-xx-large {
    padding-top: 18rem;
}

.mt-small {
    margin-top: 2.4rem;
}

.mt-med {
    margin-top: 4.3rem;
}

.mb-x-small {
    margin-bottom: 1.350rem;
}

.mb-small {
    margin-bottom: 2.4rem;
}

.mb-med {
    margin-bottom: 4.3rem;
}

.mb-large {
    margin-bottom: 5.7rem;
}

.mb-x-large {
    margin-bottom: 7.6rem;
}

.mb-xx-large {
    margin-bottom: 10rem;
}

/*  Footer
========================================================================== */
footer {
    margin: 5.7rem 2.4rem 2.4rem;
}

footer p {
    margin-top: 0;
    color: hsl(var(--secondary));
    font-family: "Tofino Text";
    font-size: 1.350rem;
    letter-spacing: 0.02em;
}

footer a {
    text-decoration: none;
}

.footer-link-underline {
    text-decoration: underline;
    text-decoration-color: hsl(var(--secondary));
    text-underline-offset: 0.16em;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.8rem;
    margin-left: 0;
}

.pagination ul li {
    max-width: calc(50% - 1.8rem);
    margin-top: 0;
    list-style-type: none;
}

.pagination-label {
    font-size: 1.350rem;
    line-height: 1.45;
    font-family: "Tofino Text";
    font-weight: 600;
}

.read-older a {
    cursor: w-resize;
}

.read-newer a {
    cursor: e-resize;
}

/*  ==========================================================================
    PAGE-SPECIFIC
    ========================================================================== */
/*  Case studies
========================================================================== */
/* Footnotes */
sup a {
    padding: 0.2rem;
    font-family: 'Tofino Text';
    font-variant-numeric: tabular-nums;
    text-underline-offset: 0.3em;
}

ol.footnotes {
    margin-left: 1em;
}

ol.footnotes li {
    max-width: 66ch;
    font-family: 'Tofino Text', system-ui;
    font-size: 1.350rem;
    line-height: 1.8;
}

a.fn-back-link {
    font-size: 1.8rem;
    text-decoration: none;
    line-height: 1.35rem;
}

/*  Play
========================================================================== */
.bookcase-container {
    position: relative;
    margin-top: 0 !important;
}

.bookcase {
    position: relative;
    width: fit-content;
    height: fit-content;
}

/* Shadow */
.bookcase::before {
    content: "";
    position: absolute;
    bottom: -0.9rem;
    left: 4%;
    width: 92%;
    height: 90%;
    background: hsla(var(--shadow), 40%);
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.literal-widget {
    width: 90% !important;
    margin: 3.2rem auto -12px;
}

.literal-book-item__image_cover__outer img {
    box-shadow: none;
    box-shadow: 0px 4px 4px -2px hsla(var(--shadow), 90%), 0px -1px 8px 1px hsla(var(--shadow), 10%);
}

/*  Photographer
========================================================================== */
#photographer {
    --bg: 0, 0%, 96%;
    --secondary: 0, 0%, 44%;
    --shadow: 0, 0%, 12%;
}

.photography-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1440px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.photography-gallery img {
    max-height: 50rem;
    border-radius: 16px;
    box-shadow: 0 6px 24px 5px hsla(var(--shadow), 20%), 0 16px 8px -12px hsla(var(--shadow), 30%);
}

/*  ==========================================================================
DARK MODE
========================================================================== */
/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
    :root {
        /* HSL values */ --bg: 0, 0%, 10%;
        --bg-secondary: 0, 0%, 2%;
        --primary: 40, 58%, 88%;
        --secondary: 41, 18%, 56%;
        --shadow: 0, 0%, 1%;
    }

    body {
        font-weight: 300;
    }

    ::selection {
        background-color: hsla(var(--primary), 15%);
    }

    @media (hover: hover) {
        p a:hover, sup a:hover, a.back-link:hover, a.fn-back-link:hover {
            background-color: hsla(var(--primary), 15%);
        }
    }

    /*  Shadows
	========================================================================== */
    img, iframe {
        border-radius: 16px;
        box-shadow: 0 12px 50px 10px hsla(var(--shadow), 40%), 0 35px 20px -20px hsla(var(--shadow), 60%);
    }

    a.cta-button, a.cta-button-small {
        background: hsl(var(--bg));
    }

    a.cta-button {
        box-shadow: inset 0px 1px 2px hsla(0, 0%, 0%, 40%), inset 0px -1px 2px hsla(var(--bg-secondary), 80%), inset -4px 1px 6px hsla(var(--bg-secondary), 80%), inset 4px 1px 6px hsla(var(--bg-secondary), 80%), inset 0px -1px 2px hsla(0, 0%, 0%, 80%), inset 0px -16px 16px hsla(var(--secondary), 10%), inset 0px 16px 16px hsla(var(--bg-secondary), 85%);
    }

    a.cta-button-small {
        box-shadow: inset 0px 1px 2px hsla(0, 0%, 0%, 40%), inset 0px -1px 2px hsla(var(--bg-secondary), 80%), inset -2px 1px 3px hsla(var(--bg-secondary), 80%), inset 2px 1px 3px hsla(var(--bg-secondary), 80%), inset 0px -1px 2px hsla(0, 0%, 0%, 80%), inset 0px 12px 12px hsla(var(--bg-secondary), 85%);
    }

    /* Shadow */
    .cta-button::before, .cta-button-small::before {
        content: "";
        position: absolute;
        bottom: -0.8rem;
        z-index: -1;
        width: 84%;
        height: 80%;
        border-radius: 100px;
        background: hsla(var(--shadow), 60%);
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }

    /* Glow */
    .cta-button::after, .cta-button-small::after {
        background: linear-gradient(180deg, hsla(var(--primary), 80%) 0%, hsla(var(--primary), 0%) 100%);
    }

    a.cta-button:hover, a.cta-button-small:hover {
        background: hsla(var(--primary), 10%);
    }

    /*  Other
	========================================================================== */
    header.scrolled {
        border-bottom: 0.5px solid hsla(var(--primary), 15%);
        background-image: linear-gradient(to bottom, hsla(var(--bg), 60%), hsla(var(--bg-secondary), 50%));
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        box-shadow: 0px 1px 8px hsla(var(--shadow), 80%);
    }
}

/*  ==========================================================================
RESPONSIVE - MOBILE
========================================================================== */
@media only screen and (max-width: 760px) {
    html {
        font-size: 56%;
        /* 1rem = ~9px ie 10% smaller than desktop */
        overflow-x: hidden;
    }

    body {
        font-family: "Tofino Text", "Tofino", ui-sans-serif, system-ui;
    }

    /* .project-page::-webkit-scrollbar {
	  display: none;
	} */
    /*  Text styles
	========================================================================== */
    /**
	 * Typographic scale: 1.25
	 *
	 * REM Units
	 * ---------------
	 * 1.44
	 * 1.8 -> baseline
	 * 2.25
	 * 2.813
	 * 3.516
	 * 4.395
	 * 5.494
	 * 6.868
	 * 8.585
	**/
    p {
        line-height: 1.55;
    }

    p.lede {
        font-size: 2.25rem;
        font-family: "Tofino", system-ui;
    }

    p.caption {
        font-size: 1.44rem;
    }

    h1, h2, h3, h4 {
        font-family: "Tofino", ui-sans-serif, system-ui;
    }

    h1.large-title {
        font-size: 5.494rem;
    }

    h1 {
        font-size: 4.395rem;
    }

    h2 {
        font-size: 3.516rem;
    }

    h3 {
        font-size: 2.813rem;
    }

    h4 {
        font-size: 2.25rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h6 {
        font-size: 1.350rem;
    }

    ul, ol {
        margin-left: 1.1em;
    }

    ul li {
        list-style-type: "â§ "
    }

    .cta-container {
        margin-bottom: 2.4rem;
    }

    a.cta-button, a.cta-button-small {
        font-size: 1.8rem;
    }

    a.cta-button {
        padding: 1.6rem 3rem;
    }

    a.cta-button-small {
        width: 24rem;
        padding: 0.8rem;
    }

    a.back-link p {
        font-size: 2.25rem;
    }

    /*  Project pages
	========================================================================== */
    iframe.figma-embed {
        width: 100%;
        height: 80vh;
    }

    /*  Header
	========================================================================== */
    /* Default values */
    header, header.nav-collapsed {
        bottom: 0;
        bottom: env(safe-area-inset-bottom);
        border-top: 1px solid hsla(0, 0%, 100%, 20%);
        padding: 6px 12px;
        background-image: linear-gradient(to bottom, hsla(var(--bg), 40%), hsla(var(--bg-secondary), 40%));
        box-shadow: 0px 2px 8px hsla(var(--shadow), 10%);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
    }

    header.scrolled {
        border-top: 1px solid hsla(0, 0%, 100%, 0%);
        background: hsla(var(--bg), 40%);
        box-shadow: 0px 2px 8px hsla(var(--shadow), 0%);
    }

    #nav-content {
        flex-direction: column-reverse;
        align-items: stretch;
        height: 100%;
    }

    #nav-toggle {
        display: block;
    }

    a#logo, #nav-toggle, a#navOpen, a#navClose, #logo svg, #nav-toggle svg {
        width: 4rem;
        height: 4rem;
    }

    /* Default & collapsed values */
    #mainNav, #mainNav.nav-hidden {
        flex-direction: column;
        align-items: end;
        justify-content: center;
        height: 0;
        width: 100%;
        padding: 0 18px;
        transition: height 0.4s cubic-bezier(.7, 0, .15, 1);
    }

    /* Expanded/visible values */
    #mainNav.nav-visible {
        height: calc(100vh - (4rem + 12px));
        transition: height 0.25s cubic-bezier(.37, 0, .63, 1);
    }

    /* Default values */
    #mainNav a {
        opacity: 0;
        margin-bottom: 1.8rem;
        font-size: 4.3rem;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    /* Collapsed/hidden values */
    #mainNav.nav-hidden a {
        margin-bottom: 0.9rem;
        animation: float-out 0.25s ease-in;
    }

    @keyframes float-out {
        0% {
            opacity: 1;
            transform: translateY(0);
            margin-bottom: 1.8rem;
        }

        25% {
            opacity: 0;
        }

        100% {
            opacity: 0;
            transform: translateY(10rem);
            margin-bottom: 0.9rem;
        }
    }

    /* Expanded/visible values */
    #mainNav.nav-visible a {
        opacity: 1;
        margin-bottom: 1.8rem;
        animation: float-in 0.5s cubic-bezier(0.75, 0, 0.25, 1.25);
    }

    @keyframes float-in {
        0% {
            opacity: 0;
            transform: translateY(10rem);
            margin-bottom: 0.9rem;
        }

        25% {
            opacity: 0;
            margin-bottom: 0.9rem;
        }

        100% {
            opacity: 1;
            transform: translateY(0);
            margin-bottom: 1.8rem;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        #mainNav a, #mainNav.nav-hidden a, #mainNav.nav-visibile a {
            animation: none !important;
            transition: opacity 0.25s ease-out;
        }
    }

    .active-page {
        border: none !important;
    }

    /*  Layout
		========================================================================== */
    main {
        min-height: calc(100vh - (4rem + 16px));
    }

    .fluid > * + *:not(.img-container) {
        margin-top: 1.4rem;
    }

    .below-header {
        padding-top: 8.585rem;
        /* padding-top: 6.868rem; */
    }

    .full-height {
        min-height: 100vh;
        padding-bottom: 2.25rem;
        margin: 0;
    }

    .container-text, .container-wide, .container-full-width {
        max-width: calc(100vw - 36px);
    }

    .row {
        flex-direction: column;
        gap: 0;
    }

    .row-image {
        flex-direction: column;
        gap: 0;
        width: 100%;
        margin-bottom: 3.6rem;
    }

    .row-image.project {
        flex-direction: column-reverse;
        /* gap: 2.4rem; */
    }

    .col-one-third, .col-two-thirds {
        width: 100%;
    }

    .col-rgt-align {
        display: flex;
        justify-content: start;
        text-align: left;
    }

    .pt-x-small {
        padding-top: 1.350rem;
    }

    .pt-x-large {
        padding-top: 5.7rem;
    }

    .mb-x-small {
        margin-bottom: 1.350rem;
    }

    .mb-small {
        margin-bottom: 1.8rem;
    }

    .mb-med {
        margin-bottom: 3.2rem;
    }

    .mb-large {
        margin-bottom: 4.3rem;
    }

    .mb-x-large {
        margin-bottom: 5.7rem;
    }

    /*  Footer
	========================================================================== */
    footer {
        margin: 4.395rem 18px calc(4rem + 36px);
    }

    footer p {
        font-size: 1.44rem;
    }

    .pagination-label {
        font-size: 1.44rem;
    }

    /*  Play
	========================================================================== */
    .bookcase-container {
        display: none;
    }

    /*  Photographer
	========================================================================== */
    .photography-gallery img {
        width: 100%;
        height: auto;
        max-height: inherit;
    }
}
