@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@font-face {
    font-family: 'nacelle-semiBold';
    src: url('/fonts/nacelle/nacelle-semiBold.otf') format('truetype');
}

@font-face {
    font-family: 'clash';
    src: url('/fonts/clash-grotesk.ttf') format('truetype');
}


:root {

    --base-font-size: 16px;

    --h1: 4rem;
    --h2: 3rem;
    --h3: 2.438rem;
    --h4: 1.953rem;
    --h5: 1.438rem;
    --h6: 1.25rem;

    --p-tiny: 0.75rem;
    --p-small: 1rem;
    --p-medium: 1rem;
    --p-large: 1.438rem;

    --p-title-small: 1rem;

    --overline-medium: 1rem;
    --overline-small: 0.875rem;

    --grey25: #FCFCFD;
    --grey50: #F9FAFB;
    --grey100: #F2F4F7;
    --grey200: #EAECF0;
    --grey300: #D0D5DD;
    --grey400: #98A2B3;
    --grey500: #667085;
    --grey600: #475467;
    --grey700: #344054;
    --grey800: #1D2939;
    --grey900: #101828;

    --primary-text: #4263EB;
    --text: var(--grey900);
    --subtext: var(--grey600);
    --subsubtext: grey-300;


    --border-minimal: var(--grey200);
    --border-subtle: var(--grey300);
    --border-moderate: var(--grey400);
    --border-bold: var(--grey50);


    --gap_tiny: 0.25rem;
    /* 2px */
    --gap_xs: 0.5rem;
    /* 2px */
    --gap_s: 1rem;
    /* 4px */
    --gap_m: 2rem;
    /* 8px */
    --gap_l: 4rem;
    /* 16px */
    --gap_xl: 8rem;
    /* 24px */
    --gap_xxl: 16rem;
    /* 32px */
    --gap_xxxl: 32rem;
    /* 40px */

    --g8: 64rem;
    /* 48px */
    --g9: 128rem;
    /* 56px */
    --g10: 256rem;
    /* 64px */

    --main-color: #FFC530;
    --paragraph-color: #E8EEFE;

}



/*--------------------------------------------------------------------------------- */


@font-face {
    font-family: 'nacelle-black';
    src: url('/fonts/nacelle/nacelle-black.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-blackItalic';
    src: url('/fonts/nacelle/nacelle-blackItalic.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-bold';
    src: url('/fonts/nacelle/nacelle-bold.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-boldItalic';
    src: url('/fonts/nacelle/nacelle-boldItalic.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-heavy';
    src: url('/fonts/nacelle/nacelle-heavy.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-heavyItalic';
    src: url('/fonts/nacelle/nacelle-heavyItalic.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-Italic';
    src: url('/fonts/nacelle/nacelle-Italic.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-light';
    src: url('/fonts/nacelle/nacelle-light.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-lightItalic';
    src: url('/fonts/nacelle/nacelle-lightItalic.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-regular';
    src: url('/fonts/nacelle/nacelle-regular.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-semiBold';
    src: url('/fonts/nacelle/nacelle-semiBold.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-semiboldItalic';
    src: url('/fonts/nacelle/nacelle-semiboldItalic.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-thin';
    src: url('/fonts/nacelle/nacelle-thin.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-thinItalic';
    src: url('/fonts/nacelle/nacelle-thinItalic.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-ultralight';
    src: url('/fonts/nacelle/nacelle-ultralight.otf') format('truetype');
}

@font-face {
    font-family: 'nacelle-ultralightItalic';
    src: url('/fonts/nacelle/nacelle-ultralightItalic.otf') format('truetype');
}


/*--------------------------------------------------------------------------------- */





:root {
    --background_color: #000000;
    --text-color: #6c757d;

    --gap1: 2px;
    --gap2: 4px;
    --gap3: 8px;
    --gap4: 16px;
    --gap5: 24px;
    --gap6: 32px;
    --gap7: 40px;
    --gap8: 48px;
    --gap9: 56px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p.lede {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.7;

    width: 75%;
    color: var(--grey200);
}



.max-width-div {
    max-width: 1200px;
    margin: auto;

}

body {
    background-color: var(--background_color);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body,
h1,
h2,
ul,
li {
    color: #ffffff;
    font-family: 'Inter';
}

h3,
p {
    color: #ffffff;

    font-weight: 300;
    line-height: 1.5em;
}


h1 {
    font-weight: 200;
}

h2 {
    font-weight: 200;
}

h3 {
    font-weight: 400;
}



.button-div {
    display: flex;
    gap: var(--gap4);
}

.bigtext {

    font-family: 'Inter';
    font-size: 6.22rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: -5px;
    line-height: 97%;

}

.junaid {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 120px;
    color: rgb(174, 255, 0);
    position: relative;
    overflow: hidden;
}

.intt {
    font-size: 18px;
    width: 60%;
    color: rgb(208, 208, 222);
    font-family: Inter;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 4vh;

}



button {
    padding: 10px 20px 10px 20px;
    font-family: Inter;
    font-size: 1rem;
    border: none;

}



.circle {
    margin-top: 10vh;
    width: 70px;
    height: 70px;
    background-image: url(https://sm.ign.com/t/ign_in/screenshot/default/mg-3_1f1r.1280.png);
    background-size: cover;
    /* Cover the entire div with the background image */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    border-radius: 50%;
    /* Makes the div a circle by using a border-radius of 50% */
}

.someofmywork {
    font-family: 'Inter';
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.projects_main_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    border: 1px solid rgb(0, 0, 0);

}



.project {
    aspect-ratio: 1 / 0.7;
    position: relative;
    overflow: hidden;
    display: flex;



    &:hover {
        transform: scale(1.05);
        transition: 0.3s ease;
    }
}

.project:hover .proj_info {
    bottom: 0px;
    transition: bottom 0.3s ease;
    /* Add a transition for smooth sliding */

}

.proj_info {
    background: rgb(11, 11, 11);
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: -100%;

}

.proj_info .subtext_proj {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    color: var(--grey400);


}

.proj_info h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;



}

.proj_info .chip {
    font-size: 0.7rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 1rem;
    background-color: #0077e7;
    display: inline-block;
}





.grid2col {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    margin-bottom: 30px;

}






.grid4x4 {
    display: grid;

    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;

    align-items: start;
    grid-template-rows: 1fr 1fr;
}

.animatedgradient {
    /* where the magic happens */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #0077e7, #01d8d1);
    filter: hue-rotate(0deg);
    animation: hueShift 6s infinite linear 1s;

    /* font styling*/
    padding-left: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 8rem;
    position: relative;
    overflow: hidden;

}

@keyframes hueShift {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#pro1 {
    background-image: url('/img/acc_cover.png');
    background-size: cover;
}

#pro2 {
    background-image: url('/img/digital_cover.png');
    background-size: cover;
}

#pro3 {
    background-image: url('/img/ds_cover.png');
    background-size: cover;
}

#pro4 {
    background-image: url('/img/behance.png');
    background-size: cover;
}

.s-gap_div {
    height: 1rem;
}

.gap_div_xs {
    min-height: 0.5rem;
}

.gap_div_m {
    min-height: 2rem;
}

.gap_div {
    height: 4rem;
}


footer {

    margin-top: 5rem;
    background: linear-gradient(180deg, #121212ce 0%, #000 23.22%, #000 100%);
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.footer-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;


}


.police-banner-bg-footer {

    margin: 4rem auto auto auto;
    background: #161616;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    transform: rotate(-1.5deg);
    justify-content: center;
    overflow: hidden;

}


.police-banner-text-footer {

    font-family: 'clash';
    font-weight: 500;
    font-size: 3.2rem;
    white-space: nowrap;
    color: #4f4f4f;

}

.foot-heading {
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.footer-links a {

    color: #FFF;
    /* paragraph - md */
    font-family: "IBM Plex Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9625rem;
    text-decoration: none;
    /* 174.444% */
}

.footer-links p {
    color: var(--primary-text);
    /* paragraph - md */
    font-family: "IBM Plex Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.9625rem;
    text-decoration: none;
    /* 174.444% */
}


#designed-text {
    color: var(--grey500) !important;
    font-family: 'Caveat', sans-serif !important;
    font-size: 1.3rem !important;
    color: white !important;
    text-align: center; 
    margin-top: 4rem;
}

.footer-maincontainer {
    display: block;
}



.gap_tiny {
    height: var(--gap_tiny);
}

.gap_xs {
    height: var(--gap_xs);
}

.gap_s {
    height: var(--gap__s);
}

.gap_m {
    height: var(--gap__m);
}

.gap_l {
    height: var(--gap__l);
}

.gap_xl {
    height: var(--gap_xl);
}

.gap_xxl {
    height: var(--gap_xxl);
}

.gap_xxxl {
    height: var(--gap_xxxl);
}


.popup {
    min-width: 80%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    background-color: rgb(19, 19, 19);
    padding: 2rem;
    border: 1px solid #282828;
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.1);
    z-index: 9999;
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9998; /* Ensure the overlay is below the popup */
}


@media only screen and (max-width: 767px) {

    :root {

        --gap_tiny: 0.25rem;
        /* 2px */
        --gap_xs: 0.25rem;
        /* 2px */
        --gap_s: 0.5rem;
        /* 4px */
        --gap_m: 1rem;
        /* 8px */
        --gap_l: 2rem;
        /* 16px */
        --gap_xl: 4rem;
        /* 24px */
        --gap_xxl: 8rem;
        /* 32px */
        --gap_xxxl: 16rem;
        /* 40px */

        --g8: 64rem;
        /* 48px */
        --g9: 128rem;
        /* 56px */
        --g10: 256rem;
        /* 64px */
    }



    .bigtext {

        font-family: 'Inter';
        font-size: 3.5rem;
        font-weight: 400;
        color: rgb(255, 255, 255);
        letter-spacing: -5px;
        line-height: 97%;

    }


    .animatedgradient {
        /* where the magic happens */
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #0077e7, #01d8d1);
        filter: hue-rotate(0deg);
        animation: hueShift 6s infinite linear 1s;

        /* font styling*/
        padding-left: 0.5rem;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 4.3rem;
        position: relative;
        overflow: hidden;

    }

    p.lede {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        width: 100%;
        color: var(--grey200);
    }

    .max-width-div {
        max-width: 90%;
        margin: auto;

    }


    .projects_main_div {
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
        border: 1px solid rgb(0, 0, 0);

    }

    .police-banner-text-footer {

        font-family: 'clash';
        font-weight: 500;
        font-size: 2rem;
        white-space: nowrap;
        color: #4f4f4f;

    }

    .footer-container {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 1100px;
        margin: auto;


    }


    .foot-heading {
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1.5rem;
    }

    .footer-maincontainer {
        display: none;
    }

    .footer-container {

        display: none;
        flex-direction: column;
        justify-content: space-around;
        max-width: 90%;
        margin: auto;


    }


    .gap_tiny {
        height: var(--gap_tiny);
    }

    .gap_xs {
        height: var(--gap_xs);
    }

    .gap_s {
        height: var(--gap__s);
    }

    .gap_m {
        height: var(--gap__m);
    }

    .gap_l {
        height: var(--gap__l);
    }

    .gap_xl {
        height: var(--gap_xl);
    }

    .gap_xxl {
        height: var(--gap_xxl);
    }

    .gap_xxxl {
        height: var(--gap_xxxl);
    }

    #pro4 {
        display: none;
        background-image: url('/img/behance.png');
        background-size: cover;
    }

    #designed-text {
        color: var(--grey500) !important;
        font-family: 'Caveat', sans-serif !important;
        font-size: 1rem !important;
        color: white !important;
        text-align: center; 
        margin-top: 4rem;
    }

    .project:hover .proj_info {
        display: none;
      
      }

      .project {
        aspect-ratio: 1 / 0.7;
        position: relative;
        overflow: hidden;
        display: flex;

        &:hover {
            transform: scale(1);
            transition: 0.3s ease;
        }
    }
      








}

