@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
  

  --base-font-size: 16px;

  --h1: 4rem;
  --h2: 3rem;
  --h3: 2.438rem;
  --h4: 1.953rem;
  --h5: 1.438rem;

  --h6: 1.25rem;

  --p-tiny:0.75rem;
  --p-small:1rem;
  --p-medium:1.12rem;
  --p-large:1.438rem;

  --p-title-small:1rem;
  
  --overline-medium:1rem;
  --overline-small:0.875rem;

  --grey25:#FCFCFD;
  --grey50:#F9FAFB;
  --grey100:#F2F4F7;
  --grey200:#EAECF0;
  --grey300:#D0D5DD;
  --grey400:#98A2B3;
  --grey500:#667085;
  --grey600:#475467;
  --grey700:#344054;
  --grey800:#1D2939;
  --grey900:#101828;


  --primary-text: #4263EB;
  --text: var(--grey900); 
  --subtext: var(--grey600);  
  --subsubtext: grey-300 ;   

  
  --border-minimal: var(--grey200);
  --border-subtle:var(--grey300);
  --border-moderate:var(--grey400);
  --border-bold:var(--grey50);



  --gap_tiny: 0.25rem;
  /* 2px */
  --gap_xs: 0.5rem;
  /* 2px */
  --gap_s: 1rem;
  /* 4px */
  --gap_m: 2rem;
  /* 8px */
  --gap_l: 4rem;
  /* 16px */
  --gap_xl: 8rem;
  /* 24px */
  --gap_xxl: 16rem;
  /* 32px */
  --gap_xxxl: 32rem;
  /* 40px */

  --g8: 64rem;
  /* 48px */
  --g9: 128rem;
  /* 56px */
  --g10: 256rem;
  /* 64px */

  --main-color: #FFC530;
  --paragraph-color: #E8EEFE;

}

html {
  font-size: var(--base-font-size);

  /* Set the root font size */
}

/*--------------------------------------------------------------------------------- */


@font-face {
  font-family: 'nacelle-black';
  src: url('/fonts/nacelle/nacelle-black.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-blackItalic';
  src: url('/fonts/nacelle/nacelle-blackItalic.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-bold';
  src: url('/fonts/nacelle/nacelle-bold.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-boldItalic';
  src: url('/fonts/nacelle/nacelle-boldItalic.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-heavy';
  src: url('/fonts/nacelle/nacelle-heavy.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-heavyItalic';
  src: url('/fonts/nacelle/nacelle-heavyItalic.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-Italic';
  src: url('/fonts/nacelle/nacelle-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-light';
  src: url('/fonts/nacelle/nacelle-light.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-lightItalic';
  src: url('/fonts/nacelle/nacelle-lightItalic.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-regular';
  src: url('/fonts/nacelle/nacelle-regular.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-semiBold';
  src: url('/fonts/nacelle/nacelle-semiBold.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-semiboldItalic';
  src: url('/fonts/nacelle/nacelle-semiboldItalic.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-thin';
  src: url('/fonts/nacelle/nacelle-thin.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-thinItalic';
  src: url('/fonts/nacelle/nacelle-thinItalic.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-ultralight';
  src: url('/fonts/nacelle/nacelle-ultralight.otf') format('truetype');
}

@font-face {
  font-family: 'nacelle-ultralightItalic';
  src: url('/fonts/nacelle/nacelle-ultralightItalic.otf') format('truetype');
}


/*--------------------------------------------------------------------------------- */



h1 {

  font-size: var(--h1);
  letter-spacing: -0.05rem;
  color: var(--text);
  text-align: center;
  font-family: Nacelle;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: -1.92px;
}

h2 {
  font-size: var(--h2);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;
  margin-bottom: var(--h2-margin_bottom);
  color: var(--primary-text);
}

h3 {
  font-size: var(--h3);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.02rem;
  color: var(--primary-text);
}

h4 {
  font-size: var(--h4);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: var(--primary-text);
  margin-bottom: var(--gap_m);

}

h5 {
  font-size: var(--h5);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;
  color: var(--primary-text);
}

h6 {
  font-size: var(--h6);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02rem;
  color: var(--primary-text);
}

a {

  font-size: var(--p-small);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--text);
  text-decoration: none;

}



p {

  font-size: var(--p-medium);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--text);

}
p.tiny {
  font-family: 'nacelle-regular', sans-serif;
  font-size: var(--p-small);
  line-height: 1.7;
  color: var(--subtext);


}

p.large {
  font-family: 'nacelle-light', sans-serif;
  font-size: var(--p-large);
  line-height: 1.7;
  font-weight: 300;
  color: var(--subtext);

}

p.title {
  font-family: 'nacelle-semibold', sans-serif;
  font-size: var(--p-medium);
  line-height: 1.7;
  color: var(--subtext);

}

p.title-small {
  font-family: 'nacelle-semibold', sans-serif;
  font-size: var(--p-title-small);
  line-height: 1;
  letter-spacing: -0.02rem;
  color: var(--primary-text);

}

.max-width-wider p {
  text-align: center;
}


a.back-link p {
  font-size: var(--p-medium);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  line-height: 40px;

}



.back-div {
  width: 80vw;
  margin: auto;
  color: var(--grey600);
  display: flex;

}


.overline-md{
  font-size: var(--overline-medium);
  color: var(--primary-text);
  font-family: 'IBM Plex Sans',sans-serif;
  font-weight: 600;
  color: var(--primary-text);
  letter-spacing: 0.2rem;
}

.overline-sm{
  font-size: var(--overline-small);
  color: var(--primary-text);
  font-family: 'IBM Plex Sans',sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-text);
}

.overline-sm-space{
  font-size: var(--overline-small);
  color: var(--primary-text);
  font-family: 'IBM Plex Sans',sans-serif;
  font-weight: 500;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: var(--primary-text);
}

.white{
  color: #101828
}














ul {
  margin-top: var(--gap_m);

}

li {
  font-size: var(--p-medium);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--text);
  margin-left: 1.5rem;
  color: var(--text);
}



.foot-heading {

  font-size: var(--h5);
  font-family: 'nacelle-regular';
  line-height: 2rem;
  letter-spacing: -0.02rem;
  color: var(--text);

}

.italicize {
  font-style: italic;
  color: #ff0000;
}

.junaid-text {

  font-family: 'nacelle-reg';
  font-weight: 600;
  font-size: 6.5rem;
  text-align: center;


}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'nacelle', sans-serif;

}


.footerlight-button-primary{
  margin-top: var(--gap__m);
  background-color:   var(--primary-text);

  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: 'nacelle-regular',sans-serif;
  font-size: var(--p-small) ;
  color: var(--grey100);
  border: none;
  border-radius: 0.5rem;
}

tr{
  
  font-size: var(--p-small);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--text);
  margin-bottom: 2px;
  background-color: var(--grey100);
  

}
th{

  background-color: #dbe2ee;
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;

}

tr {
  margin-bottom: 10px; /* Adjust the value as needed */
}
td {
  border: 1px solid var(--grey300) ; /* Just for visualization */
  padding-top: 1rem; /* Just for visualization */
  padding-bottom: 1rem; /* Just for visualization */
  padding-left: 1.5rem; /* Just for visualization */
  padding-right: 1.5rem; /* Just for visualization */
  margin-bottom: 1rem;

}

