
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


:root {

  --base-font-size: 16px;


  --h1: 3.815rem;
  --h2: 3.052rem;
  --h3: 2.441rem;
  --h4: 1.953rem;
  --h5: 1.463rem;
  --h6: 1.25rem;
  --p:1rem;

  --gap_tiny: 0.25rem; /* 2px */
  --gap_xs: 0.5rem; /* 2px */
  --gap_s: 1rem; /* 4px */
  --gap_m: 2rem; /* 8px */
  --gap_l: 4rem; /* 16px */
  --gap_xl: 8rem; /* 24px */
  --gap_xxl: 16rem;  /* 32px */
  --gap_xxxl: 32rem; /* 40px */
  --g8: 64rem; /* 48px */
  --g9: 128rem; /* 56px */
  --g10: 256rem; /* 64px */



}

html {
  font-size: var(--base-font-size);

  /* Set the root font size */
}

/*--------------------------------------------------------------------------------- */

@font-face {
  font-family: 'Tofino-900';
  src: url('/fonts/Tofino/Tofino-UltraPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-800';
  src: url('/fonts/Tofino/Tofino-BlackPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-700';
  src: url('/fonts/Tofino/Tofino-BoldPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-600';
  src: url('/fonts/Tofino/Tofino-SemiboldPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-500';
  src: url('/fonts/Tofino/Tofino-MediumPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-400';
  src: url('/fonts/Tofino/Tofino-RegularPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-300';
  src: url('/fonts/Tofino/Tofino-BookPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-200';
  src: url('/fonts/Tofino/Tofino-LightPersonal.ttf') format('truetype');
}

@font-face {
  font-family: 'Tofino-100';
  src: url('/fonts/Tofino/Tofino-ThinPersonal.ttf') format('truetype');
}





@font-face {
  font-family: 'Clash-Display';
  src: url('/fonts/Tofino/ClashDisplayVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash-Grotesk';
  src: url('/fonts/Tofino/ClashGroteskVariable.ttf') format('truetype');
}


/*--------------------------------------------------------------------------------- */

h2,
h3,
h4,
h5,
h6 {

  font-family: 'Tofino-500', sans-serif;

}


h1 {
  font-family: 'Tofino-400', sans-serif;
  font-size: var(--h1);
  font-weight: 100;
  line-height: 1;
  letter-spacing: -0.05rem;
  color: #ffffff;

}

h2 {
  font-size: var(--h2);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;

  margin-bottom: var(--h2-margin_bottom);

  color: #ffffff;
}

h3 {
  font-size: var(--h3);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;
  color: #ffffff;
}

h4 {
  font-size: var(--h4);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;
  color: #ffffff;
}

h5 {
  font-size: var(--h5);
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;
  color: #ffffff;
}

h6 {
  font-size: var(--h6);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02rem;
  color: #ffffff;
}

h6.small {
  font-size: 1rem;
  text-transform: uppercase;
  color: #FBB536;
  margin-bottom: var(--gap_xs);
}


p {
  font-family: 'Tofino-300', sans-serif;
  font-size: 1.1rem;
  line-height: 1;
  letter-spacing: 1;
  line-height: 1.6;
  color: #ffffff;
}



p.medium {

  font-size: var(--h5);
  font-family: 'Tofino-300';
  line-height: 1.6;
  letter-spacing: 0;
  color: #ffffff;

}

p.large {


  font-family: 'Tofino-300';
  font-size: var(--h4);
  line-height: 1.4;
  letter-spacing: 0;
  color: #A2A7D0;
}


p.bold_para {
  font-family: 'Tofino-600';

}

a.back-link p {

  font-size: var(--h5);
  font-weight: 600;
}


td,
th {
  font-size: var(--p);
  font-family: 'Tofino';
  border: 1px solid #20233f;
  color: #D1D3E8;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  font-family: 'Tofino';
  background-color: var(--background_color2)
}

ul{
  margin-top: var(--gap_m);

}

li {
  font-family: 'Tofino-300';
  font-size: 1.1rem;
  margin-left: 2rem;
  color: #ffffff;
  line-height: 1.8rem;
  margin-bottom: var(--gap_tiny);

}