

h1 {
    font-family: 'Clash-Grotesk';
    font-weight: 400;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: 7.3rem;
    line-height: 1;
    letter-spacing: -0.02rem;
    color: #ffffff;
  }
  
  h2 {
    font-family: 'Clash-Grotesk';
    font-size: 4rem;
    font-weight: 550;
    
    line-height: 1;
    color: #ffffff;
  }
  
  h3 {
    margin-top: 0.4em;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
  }
  
  h4 {
    
    font-size: 35px;
    
    font-weight: 550;
    font-family: 'Clash-Grotesk';
    line-height: 1;
    color: white;
  }
  
  h5 {
    margin-top: 0.4em;
    font-size: 1.8rem;
    line-height: 1.45;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h6 {
    font-family: 'Tofino-600';
   
    font-size: 1.350rem;
    line-height: 1.45;
    text-transform: uppercase;
    color: #FBB536;
  }
  
  
  
  

  
  .rival{
    font-family: 'Array-regular';
    font-size: 5.2rem;
  }