
  
  .glitch {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 120px;
    color: rgb(174, 255, 0);
    position: absolute;
    color: #fff;
  }
  
  .glitch::before,
  .glitch::after {
    content: 'Junaid';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }
  
  .glitch::after {
    color: #f0f;
    z-index: -2;
    animation: glitch-left-2 .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
  }
  
  .glitch::before {
    color: #0ff;
    z-index: -1;
    animation: glitch-left .3s cubic-bezier(.25, .46, .45, .94) both infinite;
  }
  
  @keyframes glitch-small {
    0% {
      transform: translate(0);
    }
    33% {
      transform: translate(2px, 1px);
    }
    66% {
      transform: translate(-1px, -1px);
    }
    to {
      transform: translate(0);
    }
  }
  
  @keyframes glitch-medium {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    to {
      transform: translate(0);
    }
  }
  
  @keyframes glitch-left {
    0% {
      transform: translate(0);
    }
    33% {
      transform: translate(-5px, 3px);
    }
    66% {
      transform: translate(5px, -3px);
    }
    to {
      transform: translate(0);
    }
  }
  
  @keyframes glitch-left-2 {
    0% {
      transform: translate(0);
    }
    33% {
      transform: translate(-5px, -3px);
    }
    66% {
      transform: translate(5px, 2px);
    }
    to {
      transform: translate(0);
    }
  }
  